<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="-1"/>
        <meta http-equiv="CACHE-CONTROL" content="NO-CACHE"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/exist-2.2.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="resources/scripts/jquery.tablesorter.min.js"/>
        <script type="text/javascript" id="js">$(function() {

	// call the tablesorter plugin
	$("table").tablesorter();

});</script>
    </head>
    <body id="grey-top">
        <div class="grey-bot">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header">
                        <a href="/" id="logo">eXistDB</a>
                    </div>
                </div>
                <div class="row">
                    <nav class="navbar navbar-default" role="navigation">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                        </button>
                        <div class="navbar-collapse collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown" id="about">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="index.html">Introduction</a>
                                        </li>
                                        <li>
                                            <a href="manage.html">Manage Receivers</a>
                                        </li>
                                        <li>
                                            <a href="configuration.html">Configuration</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="functions">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messaging</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="messaging-functions.html">XQuery functions</a>
                                        </li>
                                        <li>
                                            <a href="messaging-register.html">Register receiver</a>
                                        </li>
                                        <li>
                                            <a href="messaging-send.html">Send message</a>
                                        </li>
                                        <li>
                                            <a href="messaging-manage.html">Reporting</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown" id="functions">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Replication</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="replication-functions.html">XQuery functions</a>
                                        </li>
                                        <li>
                                            <a href="replication-producer.html">Producer</a>
                                        </li>
                                        <li>
                                            <a href="replication-consumer.html">Consumer</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div id="content" class="row"/>
            </div>
        </div>
        <div id="footer">
            <div id="copyright">
                <p>Copyright eXist-db Project 2014</p>
            </div>
        </div>
        <div data-template="templates:unless-model-key-equals" data-template-key="noscript" data-template-value="yes">
            <script type="text/javascript" src="$shared/resources/scripts/ace/ace.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-javascript.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-text.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xquery.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-java.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-css.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/mode-xml.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/theme-tomorrow_night.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/ace/theme-dawn.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/highlight.js"/>
            <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
            <script type="text/javascript" src="resources/scripts/demo.js"/>
            <script>
        $('#error').popover({
    trigger: "hover" 
})
        </script>
        </div>
    </body>
</html>